<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column">
    <main class="d-flex flex-column flex-grow-1 flex-shrink-0">      
      {%- include header.html -%}
      <div class="site-content flex-grow-1">
        {{ content }}   
      </div>        
    </main>
    <footer class="flex-grow-0 flex-shrink-0 py-3 bg-light border-top text-muted">
      {%- include footer.html -%}
    </footer>
  </body>

</html>
